        <h2>Administration</h2>
        <div class="section">
          <p>
            <a href="./changePassword.html" class="links">Change admin password</a>
          </p>
          <p id="SSH">
            <a class="links">Add or edit SSH keys</a>
          </p>
          <div id="enterSshKey">
            <textarea id='input-SSH'/></textarea><br>
            <button id='submit-SSH'>Submit</button>
          </div>
          <p>Software Version: {{softwareVersion}}</p>
          <p>Date of version update: {{softwareVersionUpdateDate}}</p>
        </div>

        <h2>ISP Speeds</h2>
        <div class="section">
          <p>Set these to help optimize your router.</p>
          <p>ISP Download Speed: <span class="setting" ><span id="ispDownloadSpeed" class="editable">{{ispDownloadSpeed}}</span> Mb/s </span></p>
          <p>ISP Upload Speed: <span class="setting" ><span id="ispUploadSpeed" class="editable">{{ispUploadSpeed}}</span> Mb/s </span></p>
        </div>

        <h2>Private WiFi</h2>
        <div class="section">
          <label for=routerSsid>SSID</label>
          <span>{{routerSsid}}</span>
          <p><a href="./setSSID.html" class="links">Set network SSID and passphrase</a></p>
          <br>
          <p>
            <label for="routerBand">Frequency</label>
            <span class="selector"><select class="setting" id="routerBand">RouterBand</select></span>
          </p>
          <p>
            <label for="routerChannel">Channel</label>
            <select class="setting" id="routerChannel">RouterChannel</select>
          </p>
          <p>
            <label for="routerChannelBandwidth">Channel bandwidth</label>
            <select class="setting" id="routerChannelBandwidth">RouterChannelBandwidth</select>
          </p>
          <p>
            <label for="routerVpnConfiguration">VPN/TOR Configuration</label>
            <select class="setting" id="routerVpnConfiguration">RouterVpnConfiguration</select>
          </p>
        </div>

        <h2>Open Wireless</h2>
        <div class="section">
          <p>
            <label for=openwirelessBandwidth>Max bandwidth fraction</label>
            <span class="setting"><span class="editable" id="openwirelessBandwidth">{{openwirelessBandwidth}}</span>%
              </span></p>
          <p>
            <label for="openwirelessData">Max total data per month</label>
            <span class="setting"><span class="editable" id="openwirelessData">{{openwirelessData}}</span> MB
          </span></p>
          <p><a href="#" class="links">Reset total data used this month</a></p>
          <p>Change data auto-reset date [Datepicker]</p>
          <p>
            <label for="openwirelessBand">Choose band</label>
            <select class="setting" id="openwirelessBand">OpenwirelessBand</select>
          </p>
          <p>
            <label for="openwirelessChannel">Channel</label>
            <select class="setting" id="openwirelessChannel">OpenwirelessChannel</select>
          </p>
          <p>
            <label for="openwirelessChannelBandwidth">Channel bandwidth</label>
            <select class="setting" id="openwirelessChannelBandwidth">OpenwirelessChannelBandwidth</select>
          </p>
          <p>
            <label for="openwirelessEncryption">WiFi security</label>
            <select class="setting" id="openwirelessEncryption">OpenwirelessEncryption</select>
          </p>
          <p>
            <label for="openwirelessVpnConfiguration">VPN/TOR Configuration</label>
            <select class="setting" id="openwirelessVpnConfiguration">OpenwirelessVpnConfiguration</select>
          </p>
        </div>
