        <h2>Administration</h2>
        <div class="section">
          <p>
            <a href="./changePassword.html">Change admin password</a>
          </p>
          <p id="SSH">
            <a>Add or edit SSH keys</a>
          </p>
          <div id="enterSshKey">
            <textarea id='input-SSH'/></textarea><br>
            <button id='submit-SSH'>Submit</button>
          </div>
          <p>Software Version: {{softwareVersion}}</p>
          <p>Date of version update: {{softwareVersionUpdateDate}}</p>
          <p>Date last checked for update: {{lastCheckedDate}}</p>
          <p><a href="#">Check for update</a></p>
          <p>WAN IP: {{wanIp}}</p>
          <p>LAN IP: {{lanIp}}</p>
        </div>

        <h2>ISP Speeds</h2>
        <div class="section">
          <p>Set these to help optimize your router.</p>
          <p>ISP Download Speed: <span id="ispDownloadSpeed" class="editable">{{ispDownloadSpeed}}</span> Mb/s</p>
          <p>ISP Upload Speed: <span id="ispUploadSpeed" class="editable">{{ispUploadSpeed}}</span> Mb/s</p>
        </div>

        <h2>Private Wifi</h2>
        <div class="section">
          <label for=routerSsid>SSID</label>
          <span>{{routerSsid}}</span>
          <p><a href="./setSSID.html">Set network SSID and passphrase</a></p>
          <br>
          <p>
            <label for="routerBand">Frequency</label>
            <span class="selector"><select id="routerBand">RouterBand</select></span>
          </p>
          <p>
            <label for="routerChannel">Channel</label>
            <select id="routerChannel">RouterChannel</select>
          </p>
          <p>
            <label for="routerChannelBandwidth">Channel bandwidth</label>
            <select id="routerChannelBandwidth">RouterChannelBandwidth</select>
          </p>
          <p>
            <label for="routerVpnConfiguration">VPN/TOR Configuration</label>
            <select id="routerVpnConfiguration">RouterVpnConfiguration</select>
          </p>
        </div>

        <h2>Open Wireless</h2>
        <div class="section">
          <p>Max bandwidth fraction<span class="editable" id="openwirelessBandwidth">{{openwirelessBandwidth}}</span>%</p>
          <br>
          <p>Max total data per month <span class="editable" id="openwirelessData">{{openwirelessData}}</span> GHz</p>
          <p><a href="#">Reset total data used this month</a></p>
          <p>Change data auto-reset date [Datepicker]</p>
          <p>
            <label for="openwirelessBand">Choose band</label>
            <select id="openwirelessBand">OpenwirelessBand</select>
          </p>
          <p>
            <label for="openwirelessChannel">Channel</label>
            <select id="openwirelessChannel">OpenwirelessChannel</select>
          </p>
          <p>
            <label for="openwirelessChannelBandwidth">Channel bandwidth</label>
            <select id="openwirelessChannelBandwidth">OpenwirelessChannelBandwidth</select>
          </p>
          <p>
            <label for="openwirelessEncryption">WiFi security</label>
            <select id="openwirelessEncryption">OpenwirelessEncryption</select>
          </p>
          <p>
            <label for="openwirelessVpnConfiguration">VPN/TOR Configuration</label>
            <select id="openwirelessVpnConfiguration">OpenwirelessVpnConfiguration</select>
          </p>
        </div>
