        <h2>Administration
          <span class="subheading"> <a href="./changePassword.html" class="links">Change admin password</a></span>
        </h2>
        <div class="section">
          <p id="SSH">
            {{#sshKey}}
              {{#if exists}}
              SSH enabled.
              <span class='setting'>
                Key '<span id=keyComment>{{comment}}</span>'
                {{#if locked}}
                <span title="You've successfully logged in with this key once.
                  You can only edit it via SSH or failsafing your router.">
                  ( locked )</span>
                {{else}}
                <a class="links edit-ssh">Edit</a>
                {{/if}}
              </span>
              {{else}}
              SSH not enabled. <a class="setting links edit-ssh">Enable</a>
              {{/if}}
              <div id="enterSshKey">
                Paste an SSH public key. Hint: ~/.ssh/id_rsa.pub.<br/>
                You can change this until your first successful SSH login,
                after which it will be locked to prevent tampering. Further
                updates can be made via SSH login.
                <textarea id='input-SSH'>{{contents}}</textarea><br>
                <button id='submit-SSH'>Submit</button>
                <button id='cancel-SSH'>Cancel</button>
              </div>
            {{/sshKey}}
          </p>
          <p>Software Version <span class="subheading"> {{softwareVersion}}</span></p>
          <p>Software Version date <span class="subheading"> {{softwareVersionUpdateDate}}</span></p>
        </div>

        <h2>ISP Speeds 
          <span class="subheading">Set these to help optimize your router</span>
        </h2>
        <div class="section">
          <p>ISP Download Speed <span class="setting" ><span id="ispDownloadSpeed" class="editable">{{ispDownloadSpeed}}</span> Mb/s </span></p>
          <p>ISP Upload Speed <span class="setting" ><span id="ispUploadSpeed" class="editable">{{ispUploadSpeed}}</span> Mb/s </span></p>
        </div>

        <h2>Private WiFi
          <span class="subheading">
            <label for=routerSsid>SSID</label>
            <span>{{routerSsid}}</span> &nbsp &nbsp
            <a href="./setSSID.html" class="links">Edit</a>
          </span>
        </h2>

        <div class="section">
          <p>
            <label for="routerBand">Frequency Band</label>
            <span class="selector">
              <select class="setting" id="routerBand">RouterBand</select>
            </span>
          </p>
          <p>
            <label for="routerChannel">Channel</label>
            <select class="setting" id="routerChannel">RouterChannel</select>
          </p>
          <p>
            <label for="routerChannelBandwidth">Channel bandwidth</label>
            <select class="setting" id="routerChannelBandwidth">RouterChannelBandwidth</select>
          </p>
          <p>
            <label for="routerVpnConfiguration">VPN/TOR Configuration</label>
            <select class="setting" id="routerVpnConfiguration">RouterVpnConfiguration</select>
          </p>
        </div>

        <h2>Open Wireless</h2>
        <div class="section">
          <p>
            <label for=openwirelessBandwidth>Max bandwidth fraction</label>
            <span class="setting"><span class="editable" id="openwirelessBandwidth">{{openwirelessBandwidth}}</span>%
              </span></p>
          <p>
            <label for="openwirelessData">Max total data per month</label>
            <span class="setting"><span class="editable" id="openwirelessData">{{openwirelessData}}</span> MB
          </span></p>
          <p>Usage counter auto-reset day [Datepicker]<span class="subheading"><a href="#" class="links">Reset usage counter</a></span></p>
	  <br>
          <p>
            <label for="openwirelessBand">Frequency Band</label>
            <select class="setting" id="openwirelessBand">OpenwirelessBand</select>
          </p>
          <p>
            <label for="openwirelessChannel">Channel</label>
            <select class="setting" id="openwirelessChannel">OpenwirelessChannel</select>
          </p>
          <p>
            <label for="openwirelessChannelBandwidth">Channel bandwidth</label>
            <select class="setting" id="openwirelessChannelBandwidth">OpenwirelessChannelBandwidth</select>
          </p>
          <p>
            <label for="openwirelessVpnConfiguration">VPN/TOR Configuration</label>
            <select class="setting" id="openwirelessVpnConfiguration">OpenwirelessVpnConfiguration</select>
          </p>
          <p>
            <label for="openwirelessEncryption">WiFi security</label>
            <select class="setting" id="openwirelessEncryption">OpenwirelessEncryption</select>
          </p>
        </div>
