        <br>
        <br>
        <h6>Router</h6>
        <p><a href="./changePassword.html">Change administrator password&gt;</a></p>
        <p>Software Version: {{softwareVersion}}</p>
        <p>Date of version update: {{softwareVersionUpdateDate}}</p>
        <p>Date last checked for update: {{lastCheckedDate}}</p>
        <p><a href="#">Check for update &gt;</a></p>
        <br>
        <br>

        <h4>Estimated ISP Speed to optimize performance</h4>
        <p>ISP Download Speed: <span id="ispDownloadSpeed" class="editable">{{ispDownloadSpeed}}</span> mb/s</p>
        <p>ISP Upload Speed: <span id="ispUploadSpeed" class="editable">{{ispUploadSpeed}}</span> mb/s</p>
        <br>
        <br>

        <h4>Transfer Protocol type for admin Web-UI</h4>
        <p><span class="selector"><select id="transferProtocol">TransferProtocol</select></span></p>
        <br>
        <br>

        <h4>SSH Keys</h4>
        <p id="SSH">Upload your ssh keys for command line access</p>
        <br>
        <br>
        <br>


        <h6>Private Wifi</h6>
        <p><a href="./setSSID.html">Set network SSID and passphrase&gt;</a></p>
        <br>
        <h4>Choose band</h4>
        <p><span class="selector"><select id="routerBand">RouterBand</select></span> ghz</p>
        <p>Channel <span class="selector"><select id="routerChannel">RouterChannel</select></span> ghz</p>
        <p>Channel bandwidth <span class="selector"><select id="routerChannelBandwidth">RouterChannelBandwidth</select></span> ghz</p>
        <br>
        <br>

        <h3>VPN/TOR Configuration</h3>
        <p><span class="selector"><select id="routerVpnConfiguration">RouterVpnConfiguration</select></span></p>
        <br>
        <br>



        <h6>Open Wireless</h6>
        <p>Max bandwidth fraction<span class="editable" id="openwirelessBandwidth">{{openwirelessBandwidth}}</span>%</p>
        <br>
        <p>Maximum total data/month <span class="editable" id="openwirelessData">{{openwirelessData}}</span> ghz</p>
        <p><a href="#">Reset total data used this month &gt;</a></p>
        <p>Change data auto-reset date [Datepicker]</p>
        <br>
        <h4>Choose band</h4>
        <p><span class="selector"><select id="openwirelessBand">OpenwirelessBand</select></span> ghz</p>
        <p>Channel <span class="selector"><select id="openwirelessChannel">OpenwirelessChannel</select></span> ghz</p>
        <p>Channel bandwidth <span class="selector"><select id="openwirelessChannelBandwidth">OpenwirelessChannelBandwidth</select></span> GB</p>
        <br>

        <h4>Openwireless over the air encryption</h4>
        <p><span class="selector"><select id="openwirelessEncryption">OpenwirelessEncryption</select></span></p>
        <br>

        <h4>VPN/TOR Configuration</h4>
        <p><span class="selector"><select id="openwirelessVpnConfiguration">OpenwirelessVpnConfiguration</select></span></p>

